<div class="text-center">
	<h2>Python Image Generator</h2>
	<a href="/">Home</a> |
	<a href="https://github.com/sabrisangjaya/pythonimage" target="_blank">Github</a> | Twitter 
	<a href="https://twitter.com/pakdhe_girang" target="_blank">@pakdhe_girang</a>

	<p>
Belum punya akun developer twitter jadi manual copy link url tweetnya atau ketik sendiri teksnya. <br/>
Refrensi dari: <a href="https://twitter.com/mockthistweet/" target="_blank">@mockthistweet</a> 
<a href="https://github.com/fadhluu/mocking-spongebob-bot">Github Repo by fadhlu</a> |
imgprocessing2.0 repository by <a href="https://twitter.com/bitxt">@bitxt</a> |
<a href="https://medium.com/@ydhnwb/membuat-bot-twitter-menggunakan-python-3-7-dan-deploy-ke-heroku-47adfafd5e77" target="_blank">Medium Article by  @ydhnwb</a>
	</p>
</div>